extends ./layouts/nav-bar.pug
block content
	.container.d-flex(style="background-color: #fafafa")
		.center.mr-4(style=" width: 70%")
			if (news.video)
				.title.d-flex.align-items-start
					h1.mt-3(style="font-weight: bold; flex-grow: 1")= news.title
					.btn-group.mt-4
						button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.fas.fa-th-list
						.dropdown-menu
							button.dropdown-item(type="button" onclick="displayForm(this.value)" value=news.theloai+'-'+news.firstNews+'-'+news.trangthai) Sửa
							button.dropdown-item(type="button") Xóa
				hr
				video.mb-5.mt-3.embed-responsive(style="width: 100%; height: 500px; border-radius: 10px;", controls='')
					source(src=news.video, type='video/mp4')
					|Your browser does not support the video tag.
				h5(style="width: 100%; height: auto; white-space: pre-wrap")= news.content
				hr
				.infoNews.d-flex.align-items-center
					.leftInfo(style="flex-grow: 1")
						span.mr-2 hashtag
						button.btn.btn-outline-info=news.hashtag
					nav.nav
						a.nav-link.disabled(href='#')= news.thoigian
						a.nav-link.disabled(href='#')= news.ngaythang
				hr
				// form update
				form(id="form-update" action="/admin/addNews", method="POST", enctype="multipart/form-data", style="display: none ")
					a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
						h3.mb-4.pl-3(style="border-left: 3px solid #db562b;") CẬP NHẬT
							i.fas.fa-pencil-alt.ml-3
					.form-group.font-weight-bold
						label(for='exampleInputEmail1') TIÊU ĐỀ 
						input.title-update.form-control(type='text', aria-describedby='emailHelp', placeholder='Add title here', name='title' require, value=news.title)
						small#emailHelp.form-text.text-muted Nhập tiêu đề ở đây
						.alert.alert-danger.titleAlert(style="display: none" role='alert')
							| Require Title !!

					.form-group.font-weight-bold
						label(for='exampleInputPassword1') NỘI DUNG
						textarea.content-update.form-control.mb-2(type='text', placeholder='Add content here', rows='12', name='content')= news.content
						.alert.alert-danger.contentAlert(style="display: none" role='alert')
							| Require Content !!
					// image
					span.font-weight-bold ẢNH HOẶC VIDEO
					.input-group.mb-3
						input#exampleInputFile.custom-file-input.image-update(type='file')
						small.custom-file-control.form-control-file.mt-3.ml-3
						label.custom-file-label(for='inputGroupFile01') Choose file

						small#emailHelp.form-text.text-muted Require.
					.alert.alert-danger.imageAlert.font-weight-bold(style="display: none" role='alert')
						| Require Image !!
					// hastag
					.form-group.font-weight-bold(style='width: 20%')
						label(for='exampleInputEmail1') Nh&#x1EAD;p hashtag
						input#exampleInputEmail1.form-control.hashtag-update(type='text', aria-describedby='emailHelp', placeholder='#Hashtag' name="hashtag", value=news.hashtag)
						small#emailHelp.form-text.text-muted Require hastag
						.alert.alert-danger.hashtagAlert(style="display: none" role='alert')
							| Require Hashtag !!
					// Thể loại
					.mb-3.font-weight-bold
						span Thể loại
						select.theloai-update.ml-2.custom-select(name="theloai" style="width: 20%; height: 30px;")
							option(value="thethao") Thể thao
							option(value="giaitri") Giải trí
							option(value="vanhoa") Văn hóa
							option(value="giaoduc") GIáo dục
							option(value="kinhte") Kinh tế
							option(value="xahoi") Xã hội
							option(value="thegioi") Thế giới
							option(value="phapluat") Pháp luật
					// tin hot
					input.check-update.ml-2(type='checkbox', name='firstNews', value='true')
					label(for='check-update')  Xuất hiện ở đầu bản tin
					br
					// trang thai xuat bang
					.mb-2.font-weight-bold
						span Trạng thái xuất bản
						select.ml-2.trangthai-update.custom-select(name="trangthai" value=news.trangthai style="width: 20%; height: 30px;")
							option(value="congkhai") Công khai
							option(value="riengtu") Riêng tư
					button.add-btn.btn.btn-primary.mb-3.mr-2( type='button' onclick="scriptAddNews()") Sửa
					button.preview-btn.btn.btn-primary.mb-3.mr-2(type="button" onclick="nonDisplayForm()") Hủy
					//end-form-update
			else
				.title.d-flex.align-items-start
					h1.mt-3(style="font-weight: bold; flex-grow: 1")= news.title
					.btn-group.mt-4
						button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.fas.fa-th-list
						.dropdown-menu
							button.dropdown-item(type="button" onclick="displayForm(this.value)" value=news.theloai+'-'+news.firstNews+'-'+news.trangthai) Sửa
							button.dropdown-item(type="button") Xóa
				img.mb-5(src=news.image, style="height: auto; width: 100%")
				h5(style="width: 100%; height: auto; white-space: pre-wrap")= news.content
				hr
				.infoNews.d-flex.align-items-center
					.leftInfo(style="flex-grow: 1")
						span.mr-2 hashtag
						button.btn.btn-outline-info=news.hashtag
					nav.nav
						a.nav-link.disabled(href='#')= news.thoigian
						a.nav-link.disabled(href='#')= news.ngaythang
				hr
				// form update
				form(id="form-update" action="/admin/addNews", method="POST", enctype="multipart/form-data", style="display: none ")
					a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
						h3.mb-4.pl-3(style="border-left: 3px solid #db562b;") CẬP NHẬT
							i.fas.fa-pencil-alt.ml-3

					.form-group.font-weight-bold
						label(for='exampleInputEmail1') TIÊU ĐỀ 
						input.title-update.form-control(type='text', aria-describedby='emailHelp', placeholder='Add title here', name='title' require, value=news.title)
						small#emailHelp.form-text.text-muted Nhập tiêu đề ở đây
						.alert.alert-danger.titleAlert(style="display: none" role='alert')
							| Require Title !!

					.form-group.font-weight-bold
						label(for='exampleInputPassword1') NỘI DUNG
						textarea.content-update.form-control.mb-2(type='text', placeholder='Add content here', rows='12', name='content')= news.content
						.alert.alert-danger.contentAlert(style="display: none" role='alert')
							| Require Content !!
					// image
					span.font-weight-bold ẢNH HOẶC VIDEO
					.input-group.mb-3
						input#exampleInputFile.custom-file-input.image-update(type='file')
						small.custom-file-control.form-control-file.mt-3.ml-3
						label.custom-file-label(for='inputGroupFile01') Choose file
						small#emailHelp.form-text.text-muted Require.
					.alert.alert-danger.imageAlert.font-weight-bold(style="display: none" role='alert')
						| Require Image !!
					// hastag
					.form-group.font-weight-bold(style='width: 20%')
						label(for='exampleInputEmail1') Nh&#x1EAD;p hashtag
						input#exampleInputEmail1.form-control.hashtag-update(type='text', aria-describedby='emailHelp', placeholder='#Hashtag' name="hashtag", value=news.hashtag)
						small#emailHelp.form-text.text-muted Require hastag
						.alert.alert-danger.hashtagAlert(style="display: none" role='alert')
							| Require Hashtag !!
					// Thể loại
					.mb-3.font-weight-bold
						span Thể loại
						select.theloai-update.ml-2.custom-select(name="theloai" style="width: 20%; height: 30px;")
							option(value="thethao") Thể thao
							option(value="giaitri") Giải trí
							option(value="vanhoa") Văn hóa
							option(value="giaoduc") GIáo dục
							option(value="kinhte") Kinh tế
							option(value="xahoi") Xã hội
							option(value="thegioi") Thế giới
							option(value="phapluat") Pháp luật
					// tin hot
					input.check-update.ml-2(type='checkbox', name='firstNews')
					label(for='check-update')  Xuất hiện ở đầu bản tin
					br
					// trang thai xuat bang
					.mb-2.font-weight-bold
						span Trạng thái xuất bản
						select.ml-2.trangthai-update.custom-select(name="trangthai" value=news.trangthai style="width: 20%; height: 30px;")
							option(value="congkhai") Công khai
							option(value="riengtu") Riêng tư
					button.add-btn.btn.btn-primary.mb-3.mr-2( type='button' onclick="scriptAddNews()") Sửa
					button.preview-btn.btn.btn-primary.mb-3.mr-2(type="button" onclick="nonDisplayForm()") Hủy					

			// form comment
			a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
				h3.mb-4.pl-3(style="border-left: 3px solid #db562b;") BÌNH LUẬN
					i.far.fa-comments.ml-3
			.card.mt-4
				.card-header Bình luận của bạn
				.card-body
					form(action=news.theloai+"/comment/" + news.id, method="post", id="formComment-"+news.id)
						.infoComment.d-flex(style="justify-content: space-between")
							.form-group(style="width: 40%")
								label(for='exampleInputPassword1') Nhập tên
								input#exampleInputPassword1.form-control.nameComment(type='text', placeholder='Enter name', name="name")
								small#emailHelp.form-text.text-muted Enter your name here
								.alert.alert-danger.alertName(role='alert' style="display: none")
									| This is a danger alert&mdash;check it out!

							.form-group(style="width: 40%")
								label(for='exampleInputEmail1') Email address
								input#exampleInputEmail1.form-control.emailComment(type='email', aria-describedby='emailHelp', placeholder='Enter email', name="email")
								small#emailHelp.form-text.text-muted Enter your email here
								.alert.alert-danger.alertEmail(role='alert' style="display: none")
									| This is a danger alert&mdash;check it out!
						.comment
							textarea.mb-3.contentComment(style="width: 100%; height: 70px", name="content")
							.alert.alert-danger.alertComment(role='alert' style="display: none")
									| This is a danger alert&mdash;check it out!

						.rating
							br
							label.control-label(for='input-1') No stars yet:
							input#input-1.rating.rating-loading.ratingComment(name='rating', value='0', data-min='0', data-max='5', data-step='0.5', data-size='xs')
							.alert.alert-danger.alertRating.mt-3(role='alert' style="display: none")
									| This is a danger alert&mdash;check it out!
							
						button.btn.btn-primary.mt-4.commentBtn(data-id="commentBtn-"+news.id, type='button') Submit
			each comment in news.comment

				.commenter.d-flex.mt-5.mb-5(id="comment-"+comment.idCommenter, style="max-width: 100%; height: auto; background-color: white; align-items: start; border: 1px solid #e8e8e8;")
					.image.mr-4(id="image-"+comment.idCommenter)
						image(src="/image/imageComment.jpg", style="height: 80px; width: 80px; background-size: cover;")
					.word(style="flex-grow: 1")
						.info
							h3.m-0(id="name-"+comment.idCommenter, style="color: #35a7d0")= comment.name 
							.dateTime.d-flex.mt-2
								h5.m-0.mr-2(id="dateComment-"+comment.idCommenter, style="color: #35a7d0")= comment.date + " At"
								h5.m-0.ml(id="timeComment-"+comment.idCommenter, style="color: #35a7d0")= comment.time

						.content
							h5(id="content-"+comment.idCommenter, style="white-space: pre-wrap")= comment.comment
							// newComment
							form.ml-5.mr-5.mt-5(action=news.theloai+"/newComment/"+news.id, method="post", id="formUpdate-"+comment.idCommenter, style="display: none")
								input.form-control(id="inputUpdate-"+comment.idCommenter, type='text', placeholder='Enter your comment', value=comment.comment, name="newComment")
								input.d-none(value=comment.idCommenter, name="idCommenter")
								.voteUpdate

									br
									label.control-label(for='input-1') No stars yet:
									input.rating.rating-loading.ratingComment(id="ratingUpdate-"+comment.idCommenter, name='rating', value='0', data-min='0', data-max='5', data-step='0.5', data-size='xs')
									.alert.alert-danger.mt-3(id="alertRating-"+comment.idCommenter,role='alert' style="display: none")
											| This is a danger alert&mdash;check it out!

								.button.d-flex.mt-3
									button.btn.btn-primary.mr-3.submitUpdate(id="submitUpdate-"+comment.idCommenter, data-id="submitUpdate-"+comment.idCommenter, type='button') Gửi
									button.btn.btn-primary.cancelUpdate(data-id="cancelUpdate-"+comment.idCommenter, type='button') Hủy



						.vote
							br
							label.control-label(for='ratingCommenter') Đánh giá:
							input#ratingCommenter.rating.rating-loading.ratingComment( name='rating', value=comment.rating, data-min='0', data-max='5', data-step='0.5', data-size='xs', readonly)

					if (comment.idCommenter == session.idCommenter || adminId)
						.action.mr-4
							.btn-group
								button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									i.fas.fa-list-ul
								.dropdown-menu
									if (!adminId)
										button.dropdown-item.actionUpdate(type="button", data-id="actionUpdate-"+comment.idCommenter) Sửa
									button.dropdown-item.actionDelete(type="button", data-id="actionDelete-"+comment.idCommenter) Xóa
							form.d-none(id="hiddenForm-"+comment.idCommenter, method="post", action=news.theloai+"/deleteComment/"+news.id)
								input(type="text", value=comment.idCommenter, name="idCommenter")
														


		// component-right
		.right(style=" width: 30%")
			if (tinlienquan[1])
				.wrap.tlq.mt-3(style='width: 100%')
					.tinlienquan(style='display: flex; justify-content: center; background-color: #ef5350')
						h4 TIN LIÊN QUAN 
					image.tlq(src=tinlienquan[0].image style="height: 100px; width: 100%; border-radius: 0")
					each tlq in tinlienquan
						.content.tlq(style='background-color: #ffeeef;')
							div(style='border-bottom: 1px solid #fad5d6; display: flex; align-items: center;')
								a(style='text-decoration: none; color: #3b5998', href='trangchu/tin-lien-quan/'+tlq.id)=tlq.title


			.wrap.tinmoi.mt-5(style='width: 100%')
				.tinmoi(style='display: flex; justify-content: center; background-color: #ef5350')
					h4 TIN MOI 
				image.tinmoi(src=allNews[0].image style="height: 100px; width: 100%; border-radius: 0")
				each allNew in allNews
					.content.tinmoi(style='background-color: #ffeeef;')
						div(style='border-bottom: 1px solid #fad5d6; display: flex; align-items: center;')
							a(style='text-decoration: none; color: #3b5998', href='trangchu/tin-moi/'+allNew.id)=allNew.title
	

	script(type='text/javascript', src="comment.js").
	script(type='text/javascript', src="news.js").



							