extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
				h3.mt-4.pl-3(style="border-left: 3px solid #db562b; background-color: #e9e5e5") GIẢI TRÍ

			each giaitri in theloais.giaitri
					if (giaitri.video)
						hr
						.tin-the-gioi(id="giaitri-"+giaitri.id, data-id=giaitri.id)
							.image(id="giaitriImage-"+giaitri.id)
								video.embed-responsive(style="width: 200px; border-radius: 10px; height: 110px", controls='')
									source(src=giaitri.video, type='video/mp4' )
									|Your browser does not support the video tag.
							.content
								a(href='giaitri/news/'+giaitri.id, style="text-decoration: none", title=giaitri.title)
									h3.m-0= giaitri.title
								.link
									a(href='#')= giaitri.theloai
									a(href='#')= giaitri.hashtag
									a(href='#')= giaitri.ngaythang
					else				
						hr
						.tin-the-gioi(id="giaitri-"+giaitri.id, data-id=giaitri.id)
							.image(id="giaitriImage-"+giaitri.id)
								a(href='giaitri/news/'+giaitri.id, style="text-decoration: none", title=giaitri.title)
									img(src=giaitri.image)
							.content
								a(href='giaitri/news/'+giaitri.id, style="text-decoration: none", title=giaitri.title)
									h3.m-0= giaitri.title
								.link
									a(href='#')= giaitri.theloai
									a(href='#')= giaitri.hashtag
									a(href='#')= giaitri.ngaythang