extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
				h3.mt-4.pl-3(style="border-left: 3px solid #db562b; background-color: #e9e5e5") GIÁO DỤC

			each giaoduc in theloais.giaoduc
					if (giaoduc.video)
						hr
						.tin-the-gioi(id="giaoduc-"+giaoduc.id, data-id=giaoduc.id)
							.image(id="giaoducImage-"+giaoduc.id)
								video.embed-responsive(style="width: 200px; border-radius: 10px; height: 110px", controls='')
									source(src=giaoduc.video, type='video/mp4' )
									|Your browser does not support the video tag.
							.content
								a(href='giaoduc/news/'+giaoduc.id, style="text-decoration: none", title=giaoduc.title)
									h3.m-0= giaoduc.title
								.link
									a(href='#')= giaoduc.theloai
									a(href='#')= giaoduc.hashtag
									a(href='#')= giaoduc.ngaythang	

					if (giaoduc.source)
						hr
						.tin-the-gioi(id="giaoduc-"+giaoduc.id, data-id=giaoduc.id)
							.image(id="giaoducImage-"+giaoduc.id)
								a(href=giaoduc.content, style="text-decoration: none", title=giaoduc.title, target="_blank")
									img(src=giaoduc.image)
							.content
								a(href=giaoduc.content, style="text-decoration: none", title=giaoduc.title target="_blank")
									h3.m-0= giaoduc.title
								.link
									a(href='#')= giaoduc.source
									a(href='#')= giaoduc.hashtag
									a(href='#')= giaoduc.ngaythang
					else	
						hr
						.tin-the-gioi(id="giaoduc-"+giaoduc.id, data-id=giaoduc.id)
							.image(id="giaoducImage-"+giaoduc.id)
								a(href='giaoduc/news/'+giaoduc.id, style="text-decoration: none", title=giaoduc.title)
									img(src=giaoduc.image)
							.content
								a(href='giaoduc/news/'+giaoduc.id, style="text-decoration: none", title=giaoduc.title)
									h3.m-0= giaoduc.title
								.link
									a(href='#')= giaoduc.theloai
									a(href='#')= giaoduc.hashtag
									a(href='#')= giaoduc.ngaythang