extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			.card.mt-3
				.card-header.P-0(style="border-left: 5px solid rgb(47, 161, 179);") 
					h3.m-0.pl-2(style="color: rgb(47, 161, 179);") TIN THẾ GIỚI

			each thegioi in theloais.thegioi	
					if (thegioi.video)
						hr
						.tin-the-gioi(id="thegioi-"+thegioi.id, data-id=thegioi.id)
							.image(id="thegioiImage-"+thegioi.id)
								video.embed-responsive(style="width: 200px; border-radius: 10px; height: 110px", controls='')
									source(src=thegioi.video, type='video/mp4' )
									|Your browser does not support the video tag.
							.content
								a(href='thegioi/news/'+thegioi.id, style="text-decoration: none", title=thegioi.title)
									h3.m-0= thegioi.title
								.link
									a(href='#')= thegioi.theloai
									a(href='#')= thegioi.hashtag
									a(href='#')= thegioi.ngaythang	
					else				
						hr
						.tin-the-gioi(id="thegioi-"+thegioi.id, data-id=thegioi.id)
							.image(id="thegioiImage-"+thegioi.id)
								a(href='thegioi/news/'+thegioi.id, style="text-decoration: none", title=thegioi.title)
									img(src=thegioi.image)
							.content
								a(href='thegioi/news/'+thegioi.id, style="text-decoration: none", title=thegioi.title)
									h3.m-0= thegioi.title
								.link
									a(href='#')= thegioi.theloai
									a(href='#')= thegioi.hashtag
									a(href='#')= thegioi.ngaythang