extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
				h3.mt-4.pl-3(style="border-left: 3px solid #db562b; background-color: #e9e5e5") THẾ GIỚI

			each thegioi in theloais.thegioi	
					if (thegioi.video)
						hr
						.tin-the-gioi(id="thegioi-"+thegioi.id, data-id=thegioi.id)
							.image(id="thegioiImage-"+thegioi.id)
								video.embed-responsive(style="width: 200px; border-radius: 10px; height: 110px", controls='')
									source(src=thegioi.video, type='video/mp4' )
									|Your browser does not support the video tag.
							.content
								a(href='thegioi/news/'+thegioi.id, style="text-decoration: none", title=thegioi.title)
									h3.m-0= thegioi.title
								.link
									a(href='#')= thegioi.theloai
									a(href='#')= thegioi.hashtag
									a(href='#')= thegioi.ngaythang	
					else				
						hr
						.tin-the-gioi(id="thegioi-"+thegioi.id, data-id=thegioi.id)
							.image(id="thegioiImage-"+thegioi.id)
								a(href='thegioi/news/'+thegioi.id, style="text-decoration: none", title=thegioi.title)
									img(src=thegioi.image)
							.content
								a(href='thegioi/news/'+thegioi.id, style="text-decoration: none", title=thegioi.title)
									h3.m-0= thegioi.title
								.link
									a(href='#')= thegioi.theloai
									a(href='#')= thegioi.hashtag
									a(href='#')= thegioi.ngaythang