extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			.card.mt-3
				.card-header.P-0(style="border-left: 5px solid rgb(47, 161, 179);") 
					h3.m-0.pl-2(style="color: rgb(47, 161, 179);") TIN VĂN HÓA

			each vanhoa in theloais.vanhoa				
						hr
						.tin-the-gioi(id="vanhoa-"+vanhoa.id, data-id=vanhoa.id)
							.image(id="vanhoaImage-"+vanhoa.id)
								a(href='vanhoa/news/'+vanhoa.id, style="text-decoration: none", title=vanhoa.title)
									img(src=vanhoa.image)
							.content
								a(href='vanhoa/news/'+vanhoa.id, style="text-decoration: none", title=vanhoa.title)
									h3.m-0(style="")= vanhoa.title
								.link
									a(href='#')= vanhoa.theloai
									a(href='#')= vanhoa.hashtag
									a(href='#')= vanhoa.ngaythang