extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
				h3.mt-4.pl-3(style="border-left: 3px solid #db562b; background-color: #e9e5e5") VĂN HÓA

			each vanhoa in theloais.vanhoa	
					if (vanhoa.video)
						hr
						.tin-the-gioi(id="vanhoa-"+vanhoa.id, data-id=vanhoa.id)
							.image(id="vanhoaImage-"+vanhoa.id)
								video.embed-responsive(style="width: 200px; border-radius: 10px; height: 110px", controls='')
									source(src=vanhoa.video, type='video/mp4' )
									|Your browser does not support the video tag.
							.content
								a(href='vanhoa/news/'+vanhoa.id, style="text-decoration: none", title=vanhoa.title)
									h3.m-0= vanhoa.title
								.link
									a(href='#')= vanhoa.theloai
									a(href='#')= vanhoa.hashtag
									a(href='#')= vanhoa.ngaythang	

					if (vanhoa.source)
						hr
						.tin-the-gioi(id="vanhoa-"+vanhoa.id, data-id=vanhoa.id)
							.image(id="vanhoaImage-"+vanhoa.id)
								a(href=vanhoa.content, style="text-decoration: none", title=vanhoa.title, target="_blank")
									img(src=vanhoa.image)
							.content
								a(href=vanhoa.content, style="text-decoration: none", title=vanhoa.title target="_blank")
									h3.m-0= vanhoa.title
								.link
									a(href='#')= vanhoa.source
									a(href='#')= vanhoa.hashtag
									a(href='#')= vanhoa.ngaythang
					else				
						hr
						.tin-the-gioi(id="vanhoa-"+vanhoa.id, data-id=vanhoa.id)
							.image(id="vanhoaImage-"+vanhoa.id)
								a(href='vanhoa/news/'+vanhoa.id, style="text-decoration: none", title=vanhoa.title)
									img(src=vanhoa.image)
							.content
								a(href='vanhoa/news/'+vanhoa.id, style="text-decoration: none", title=vanhoa.title)
									h3.m-0(style="")= vanhoa.title
								.link
									a(href='#')= vanhoa.theloai
									a(href='#')= vanhoa.hashtag
									a(href='#')= vanhoa.ngaythang