extends ../layouts/nav-bar.pug
block content
	.container(class="d-flex",style="background-color: white")
		.content(style="max-width: 65%; flex-grow:1; word-wrap: break-word; ")
			a(href="#", style="text-decoration-none; color: #db562b; text-decoration: none", onmouseover="this.style.color='#2fa1b3'", onmouseout="this.style.color='#db562b'") 
				h3.mt-4.pl-3(style="border-left: 3px solid #db562b; background-color: #e9e5e5") XÃ HỘI

			each xahoi in theloais.xahoi	
					if (xahoi.video)
						hr
						.tin-the-gioi(id="xahoi-"+xahoi.id, data-id=xahoi.id)
							.image(id="xahoiImage-"+xahoi.id)
								video.embed-responsive(style="width: 200px; border-radius: 10px; height: 110px", controls='')
									source(src=xahoi.video, type='video/mp4' )
									|Your browser does not support the video tag.
							.content
								a(href='xahoi/news/'+xahoi.id, style="text-decoration: none", title=xahoi.title)
									h3.m-0= xahoi.title
								.link
									a(href='#')= xahoi.theloai
									a(href='#')= xahoi.hashtag
									a(href='#')= xahoi.ngaythang

					if (xahoi.source)
						hr
						.tin-the-gioi(id="xahoi-"+xahoi.id, data-id=xahoi.id)
							.image(id="xahoiImage-"+xahoi.id)
								a(href=xahoi.content, style="text-decoration: none", title=xahoi.title, target="_blank")
									img(src=xahoi.image)
							.content
								a(href=xahoi.content, style="text-decoration: none", title=xahoi.title target="_blank")
									h3.m-0= xahoi.title
								.link
									a(href='#')= xahoi.source
									a(href='#')= xahoi.hashtag
									a(href='#')= xahoi.ngaythang	
					else				
						hr
						.tin-the-gioi(id="xahoi-"+xahoi.id, data-id=xahoi.id)
							.image(id="xahoiImage-"+xahoi.id)
								a(href='xahoi/news/'+xahoi.id, style="text-decoration: none", title=xahoi.title)
									img(src=xahoi.image)
							.content
								a(href='xahoi/news/'+xahoi.id, style="text-decoration: none", title=xahoi.title)
									h3.m-0= xahoi.title
								.link
									a(href='#')= xahoi.theloai
									a(href='#')= xahoi.hashtag
									a(href='#')= xahoi.ngaythang